<mat-card appearance="outlined">

  <mat-card-header class="text-center align-items-center mx-auto p-3">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{titulo}}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>

  <img mat-card-image src="{{imagen}}" alt="Project photo">

  <mat-card-content class="p-3">
    <p>{{descripcion}}</p>
  </mat-card-content>

  <mat-card-footer class="px-3 mb-auto">
    <mat-chip-set aria-label="Technologies">
      @for (item of tecnologias; track $index) {
        <mat-chip><span style="color: blueviolet;">{{item}}</span></mat-chip>
      }
    </mat-chip-set>
  </mat-card-footer>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</mat-card>
