
<div class="card">
  <div class="card-img-top" >
    <img [src]="imagen" alt="...">
  </div>
    <div class="card-body">
      <h5 class="card-title">{{titulo}}</h5>
      <p class="card-text" [innerText]="descripcion"></p>


      <div class="d-flex flex-wrap bd-highlight">
        @for (item of tecnologias; track item) {
          <div class="me-2 mb-2 bd-highlight tecnologias-carta">{{item}}</div>
        }
        @empty {
          <div class="p-2 bd-highlight">No se encontró información</div>
        }
      </div>

    </div>

    <div class="pill-group p-3">
      @for (item of links; track $index) {

        <a
        class="pill"
            [href]="item.enlace"
            target="_blank"
            rel="noopener"
            >
            <span>{{item.nombre}}</span>
            <svg
            xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
              >
              <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>

        }

    </div>
  </div>

